<nav class="navbar fixed-top navbar-light bg-light navbar-expand-md nav-bg-color">
    <div class="container">
        <a class="navbar-brand" href="#">Todos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#get">Get</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#getById">Get by Id</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#post">Post</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#put">Put</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#delete">Delete</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#deleteSubTask">Delete sub task</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>